* {
    box-sizing: border-box;
}

body {
  background-color: rgba(72, 163, 0, 0.07);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

main {
  padding: 0 16px 32px;
}

.title {
  font-size: 64px;
  color: #48a300;
  text-align: center;
}

.title span {
  color: #61481c;
}

.app-container {
  background-color: #fbfbfb;
  max-width: 660px;
  margin-inline: auto;
  border-radius: 15px;
  padding: 32px 48px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
}

.sun-icon {
  vertical-align: middle;
  margin-left: 16px;
}

.progress-label {
  font-size: 14px;
  color: #858585;
  margin-bottom: 20px;
}

.progress-bar {
  height: 30px;
  background-color: rgba(72, 163, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 42px;
}

.progress-value {
  height: 100%;
  width: 0;
  background-color: #48a300;
  border-radius: 15px;
  font-weight: 500;
  font-size: 10px;
  color: #eeffe0;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: width 0.2s ease-in-out;
}

.progress-value span {
  padding-left: 20px;
  min-width: max-content;
}

.error-label {
  font-size: 12px;
  color: #ff5151;
  margin-top: 4px;
  display: none;
}

.show-error .error-label {
    display: block;
}

.goal-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  height: 82px;
  display: flex;
  align-items: center;
  padding: 0 22px;
  background-color: #ffffff;
  margin-bottom: 42px;
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(97, 72, 28, 0.3);
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
    display: none;
}

.goal-input {
  border: none;
  outline: none;
  padding-left: 22px;
  font-family: inherit;
  font-size: 16px;
  align-self: stretch;
  width: 100%;
  font-weight: 500;
}

.goal-input::placeholder {
  color: #d9d9d9;
}

.quote {
  font-weight: 500;
  text-align: center;
}

.made-with {
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #858585;
  margin-top: 64px;
}

.completed .custom-checkbox {
    background: #48A300;
    border-color: #48A300;
}

.completed .check-icon {
    display: block;
}

.completed .goal-input {
    color: #48A300;
    text-decoration-line: line-through;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }

  .app-container {
    padding: 16px 32px;
  }
  
  .goal-container {
    height: 64px;
    margin-bottom: 24px;
    border-radius: 12px;
  }

  .custom-checkbox {
    width: 20px;
    height: 20px;
  }
  
  .made-with {
    margin-top: 32px;
  }

  .progress-bar {
    height: 24px;
  }
}
